extends layout

block content
  .container
    header.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Web Application Exercise
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='https://github.com/zlabjp/zlab-webapp-practice') About
          p.navbar-text.muted.pull-right
            | Copyright &copy; 2016 Z Lab Corporation All Rights Reserved.

    .message-table.input-group
      input#message-text-input.form-control(type='text')
      .input-group-btn
        button#post-message-button.btn.btn-default(type='submit')
          span Post

    table.table.table-stripped
      thead
        tr
          th #
          th Text
          th Date
      tbody#message-list-container

  script#message-item-template(type='text/x-handlebars-template')
    tr.message-item
      td.message-id {{mid}}
      td.message-text {{text}}
      td.message-cdate {{created}}
