/** Copyright 2016, Z Lab Corporation. All rights reserved. */

body {
  padding-top: 70px;
}

.message-table {
  margin-top: 20px;
  margin-bottom: 20px;
}

.message-id > .form-control {
  border: 1px solid transparent;
  box-shadow: none;
}

.message-text > .form-control {
  border: 1px solid transparent;
  box-shadow: none;
}

.message-cdate > .form-control {
  border: 1px solid transparent;
  box-shadow: none;
}

.message-update-form.inactive .message-update-text-input {
  border: 1px solid transparent;
  box-shadow: none;
}

.message-update-form.inactive .message-update-button {
  visibility: hidden;
}
